<header>
    <div class="home-banner">
        <nav>
            <div class="navbar-delivery">
                <!-- Logo -->
                <a href="/" class="navbar-delivery-brand">
                    <%= image_tag 'logo.png' %>
                </a>

                <!-- Right Navigation -->
                <div class="navbar-delivery-right hidden-xs hidden-sm">

                    <a href="" class="navbar-delivery-item navbar-delivery-link">О нас</a>
                    <a href="" class="navbar-delivery-item navbar-delivery-link">Доставка</a>
                    <a href="" class="navbar-delivery-item navbar-delivery-link">Стоймость</a>
                    <a href="" class="navbar-delivery-item navbar-delivery-link">Вход</a>
                    <a href="" class="navbar-delivery-item navbar-delivery-link navbar-delivery-signup">Регистрация</a>

                    <!-- Profile picture with dropdown list -->
                    <div class="navbar-delivery-item">
                        <div class="dropdown">
                            <ul class="dropdown-menu dropdown-menu-right navbar-delivery-dropdown-menu">
                                <li>
                                    <a href="#">Profile</a>
                                </li>
                                <li>
                                    <a href="#">Dashboard</a>
                                </li>
                                <li>
                                    <a href="#">Log Out</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Dropdown appearing on mobile only -->
                <div class="navbar-delivery-item hidden-md hidden-lg">
                    <div class="dropdown">
                        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
                        <ul class="dropdown-menu dropdown-menu-right navbar-delivery-dropdown-menu">
                            <li>
                                <a href="#">Host</a>
                            </li>
                            <li>
                                <a href="#">Trips</a>
                            </li>
                            <li>
                                <a href="#">Messagese</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div class="home-banner__content">
            <h1 class="home-banner__text">
                <span class="home-banner__text-p1"> Любимый макдоналдс </span> <span class="home-banner__text-p2"> у вашей двери. </span>
            </h1>
            <a href="#" class="home-banner__btn"> Меню </a>
        </div>
    </div>
</header>

<main>
    <section class="best-service">
        <div class="text-center margin-bottom-lg">
            <h2 class="heading-secondary"> Лучшая служба доставки </h2>
        </div>
        <div class="my-container">
            <div class="row row-eq">
                <div class="card">
                    <%= image_tag 'car.png', class: "card__img" %>
                    <p class="card__like-btn card__like-btn-white"> Быстро </p>
                    <p class="card__text">
                        Мы доставим ваш заказ за 60 минут или мы вернем вам деньги
                    </p>
                </div>

                <div class="card card-red">
                    <%= image_tag 'burger.png', class: "card__img" %>
                    <p class="card__like-btn card-red__like-btn"> Вкусно </p>
                    <p class="card__text card-red__text">
                        Еда будет теплой и вкусной такой же, как и в самом макдоналдсе
                    </p>
                </div>

                <div class="card">
                    <%= image_tag 'credit.png', class: "card__img" %>
                    <p class="card__like-btn card__like-btn-white"> Удобно </p>
                    <p class="card__text">
                        Можно заплатить картой на сайте или наличными курьеру , как вам удобнее
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="delivery">
        <div class="text-center margin-bottom-lg">
            <h2 class="heading-secondary"> КАК ПРОХОДИТ ЗАКАЗ </h2>
        </div>
        <div class="my-container">
            <div class="timeline">
                <div class="timeline__box">
                    <div class="timeline__item">
                        <div class="timeline__content">
                            <%= image_tag 'mouse-cursor.png', class: 'timeline__image' %>
                            <p class="timeline__text">
                                Оформите заказ на сайте и оплатите удобным вам способом
                            </p>
                        </div>
                    </div>

                    <div class="timeline__item">
                        <div class="timeline__content">
                            <%= image_tag 'shop-bag.png', class: 'timeline__image' %>
                                <p class="timeline__text">
                                     Мы получаем ваш заказ и забираем его с макдональса и везем к вам
                                </p>
                        </div>
                    </div>

                    <div class="timeline__item">
                        <div class="timeline__content">
                            <%= image_tag 'cutlery.png', class: 'timeline__image' %>
                                <p class="timeline__text">
                                    Вы получаете заказ и наслаждаетесь едой
                                </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
