<header>
    <div class="home-banner" style="background-image: linear-gradient(to right, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path "big-tasty-landing.jpg" %>);">
        <%= render 'shared/navbar' %>
        <div class="home-banner__content">
            <h1 class="home-banner__text">
                <span class="home-banner__text-p1"> Любимый макдоналдс </span> <span class="home-banner__text-p2"> у вашей двери. </span>
            </h1>
            <%= link_to "Меню", menu_path, class: "home-banner__btn" %>
        </div>
    </div>
</header>

<main>
    <section class="best-service">
        <div class="text-center margin-bottom-lg">
            <h2 class="heading-secondary"> Лучшая служба доставки </h2>
        </div>
        <div class="my-container">
            <div class="row row-eq">
                <div class="card">
                    <%= image_tag 'car.png', class: "card__img" %>
                    <p class="card__like-btn card__like-btn-white"> Быстро </p>
                    <p class="card__text">
                        Мы доставим ваш заказ за 60 минут или мы вернем вам деньги
                    </p>
                </div>

                <div class="card card-red">
                    <%= image_tag 'burger.png', class: "card__img" %>
                    <p class="card__like-btn card-red__like-btn"> Вкусно </p>
                    <p class="card__text card-red__text">
                        Еда будет теплой и вкусной такой же, как и в самом макдоналдсе
                    </p>
                </div>

                <div class="card">
                    <%= image_tag 'credit.png', class: "card__img" %>
                    <p class="card__like-btn card__like-btn-white"> Удобно </p>
                    <p class="card__text">
                        Можно заплатить картой на сайте или наличными курьеру , как вам удобнее
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="delivery">
        <div class="text-center margin-bottom-lg">
            <h2 class="heading-secondary"> КАК ПРОХОДИТ ЗАКАЗ </h2>
        </div>
        <div class="my-container">
            <div class="timeline">
                <div class="timeline__box">
                    <div class="timeline__item">
                        <div class="timeline__content">
                            <%= image_tag 'mouse-cursor.png', class: 'timeline__image' %>
                            <p class="timeline__text">
                                Оформите заказ на сайте и оплатите удобным вам способом
                            </p>
                        </div>
                    </div>

                    <div class="timeline__item">
                        <div class="timeline__content">
                            <%= image_tag 'shop-bag.png', class: 'timeline__image' %>
                                <p class="timeline__text">
                                     Мы получаем ваш заказ и забираем его с макдональса и везем к вам
                                </p>
                        </div>
                    </div>

                    <div class="timeline__item">
                        <div class="timeline__content">
                            <%= image_tag 'cutlery.png', class: 'timeline__image' %>
                                <p class="timeline__text">
                                    Вы получаете заказ и наслаждаетесь едой
                                </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="price">
        <div class="text-center margin-bottom-lg">
            <h2 class="heading-secondary"> Cтоймость доставки </h2>
        </div>

        <div class="price__box">
            <div class="card card-red price__card">
                <%= image_tag 'money.png', class: "card__img price__img" %>
                    <p class="card__like-btn card-red__like-btn price__like-btn"> 250 ₽ </p>
                    <p class="card__text card-red__text price__text">
                        Доставляем во все районы Воронежа
                    </p>
            </div>
        </div>
    </section>
</main>

<footer class="footer">
    <div class="my-container">
        <div class="footer__content">
            <%= image_tag 'logo-red', class: 'footer__img' %>
            <ul class="footer__list">
                <li class="footer__list-item"> <a href="#" class="footer__link"> О нас </a>  </li>
                <li class="footer__list-item"> <a href="#" class="footer__link"> Стоймость</a> </li>
                <li class="footer__list-item"> <a href="#" class="footer__link"> Доставка </a> </li>
            </ul>
            <div class="footer__social">
                <p class="footer__social-header">Соцсети</p>
                <div class="footer__social-list">
                    <a class="footer__social-list-item footer__social-facebook" href="#"> <i class="fab fa-facebook-square "></i> </a>
                    <a class="footer__social-list-item footer__social-instagram" href="#"> <i class="fab fa-instagram footer__social-links"></i> </a>
                    <a class="footer__social-list-item footer__social-vk" href="#"> <i class="fab fa-vk footer__social-links"></i> </a>
                </div>
            </div>
        </div>
    </div>
</footer>
